<% provide(:nav_id, "blog") %>

<div class="row">
	<div class="col-md-12">
		<h1>My Blog</h1>
		<div class="control-bar"> 
			<% if (current_user && current_user.is_admin?) %>
				<%= link_to("New Article", new_article_path , class: 'btn btn-primary') %>
			<% end %>
			</div>
		<% @articles.each do |article| %>
			<div class="article">
				<h3><%= link_to(article.title, article) %></h3>
				
				<div class="status">
					<%= pluralize(article.read_count, "time") %> read,  posted at <%= time_ago_in_words(article.created_at) %>, 
					<%= pluralize(article.comments.count, "comment") %>
				</div>

			</div>
		<% end %>

	</div>

</div>


