<% provide(:nav_id, "blog") %>
<% provide(:title, @article.title) %>

<!-- <div class='notice-box'>
	<%#=flash[:notice] %>
</div> -->

<div class="row">
	<div class="col-md-12">
		<h1 class="article-title"><%= @article.title %></h1>
		<div class="control-bar pull-right">
			<% if (current_user && current_user.is_admin?) %>
				<%= link_to("Edit", edit_article_path(@article) , class: "btn btn-success") %>
			<% end %>
		</div>
		<div class="article-status">
			<%= pluralize(@article.read_count, "time") %> read,  posted at <%= time_ago_in_words(@article.created_at) %>
		</div>
		<div class="article-body"><%= raw @article.body %></div>
		

		<div class="article-tags">
			<% @article.tags.each do |t| %>
				<span class="label label-primary"><%= link_to(t.name, named_tag_path(t.name)) %></span>
			<% end %>
		</div>
		<p>
			<%= link_to("Back to Article List", blog_path) %>
		</p>

		<div class="comments-box">


		<div class="comment-list">
 			<%= render "articles/disqus_comments" %>
		</div>

	</div>
</div>


<% content_for :scripts do %>
	<script type="text/javascript">
		 $(function(){
			var origin = $(".article-body").text();
			$(".article-body").html(markdown.toHTML(origin));
			hljs.initHighlightingOnLoad();
			$(".article_body pre code").each(function(i, block) {
	            hljs.highlightBlock(block);
	        });
		 });
	</script>
<% end %> 



