<div class="navbar" role="navigation">
	      <div class="container">
				<div class="logo">
					<%= link_to("Jason Heylon", root_path , class:"navbar-brand") %>
				</div>
	          
	            <ul class="top-menu">
			       	<li class="<%= "active" if yield(:nav_id) == "index" %>">
			       		<%=  link_to("Index", root_path) %>
			       	</li>
			       	<li class='<%= "active" if yield(:nav_id) == "blog" %>' >
			       		<%= link_to("Blog", blog_path) %>
			       	</li>
			       	<li class="<%= "active" if yield(:nav_id) == "resume"  %>">
			       		<%= link_to("Resume", resume_path) %>
			       	</li>
			       	<li class="<%= "active" if yield(:nav_id) == "about"  %>">
			       		<%= link_to("About", about_path) %>
			       	</li>
			       	<% if current_user && current_user.is_admin? %>
						<li>
							<%= link_to("Sign out", logout_path, method: :delete) %>
						</li>
			       	<% end %>
		       </ul>
	            
	      </div>
	    </div>